infra/step_functions/contract_review.asl.json
{
  "Comment": "Orchestrate ingestion -> log result -> compliance with retry and error handling",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Pass",
      "Parameters": {
        "contract_id.$": "$.contract_id",
        "s3.$": "$.s3",
        "s3_uri.$": "$.s3_uri",
        "__original_input.$": "$"
      },
      "ResultPath": "$.validatedInput",
      "Next": "InvokeIngestion"
    },

    "InvokeIngestion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ingestion_lambda_arn}",
        "Payload.$": "$.validatedInput"
      },
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "ResultPath": "$.ingestionResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        },
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 5,
          "MaxAttempts": 1
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ingestionError",
          "Next": "HandleIngestionError"
        }
      ],
      "Next": "CheckIngestionResult"
    },

    "CheckIngestionResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ingestionResult.Payload.extracted_text",
          "IsPresent": true,
          "Next": "LogIngestionResult"
        },
        {
          "Variable": "$.ingestionResult.Payload.contract_id",
          "IsPresent": true,
          "Next": "LogIngestionResult"
        }
      ],
      "Default": "HandleIngestionError"
    },

    "LogIngestionResult": {
      "Type": "Pass",
      "Result": {
        "message": "Ingestion completed",
        "ingestionResponse.$": "$.ingestionResult.Payload"
      },
      "ResultPath": "$.log",
      "Next": "InvokeCompliance"
    },

    "HandleIngestionError": {
      "Type": "Pass",
      "Parameters": {
        "status": "INGESTION_FAILED",
        "detail.$": "$.ingestionError"
      },
      "ResultPath": "$.errorInfo",
      "Next": "FailWorkflow"
    },

    "InvokeCompliance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${compliance_lambda_arn}",
        "Payload.$": "$.ingestionResult.Payload"
      },
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "ResultPath": "$.complianceResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        },
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 5,
          "MaxAttempts": 1
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.complianceError",
          "Next": "HandleComplianceError"
        }
      ],
      "Next": "CheckComplianceResult"
    },

    "CheckComplianceResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.complianceResult.Payload.model_output_raw",
          "IsPresent": true,
          "Next": "SuccessState"
        },
        {
          "Variable": "$.complianceResult.Payload.findings",
          "IsPresent": true,
          "Next": "SuccessState"
        }
      ],
      "Default": "HandleComplianceError"
    },

    "HandleComplianceError": {
      "Type": "Pass",
      "Parameters": {
        "status": "COMPLIANCE_FAILED",
        "detail.$": "$.complianceError"
      },
      "ResultPath": "$.errorInfo",
      "Next": "FailWorkflow"
    },

    "FailWorkflow": {
      "Type": "Fail",
      "Error": "WorkflowFailed",
      "Cause": "See $.errorInfo for details"
    },

    "SuccessState": {
      "Type": "Succeed"
    }
  }
}
