infra/step_functions/contract_review.asl.json
{
  "Comment": "Orchestrate ingestion -> log result -> compliance with retry and error handling",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Pass",
      "Parameters": {
        "contract_id.$": "$.contract_id",
        "s3.$": "$.s3",
        "s3_uri.$": "$.s3_uri",
        "__original_input.$": "$"
      },
      "ResultPath": "$.validatedInput",
      "Next": "InvokeIngestion"
    },

    "InvokeIngestion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ingestion_lambda_arn}",
        "Payload.$": "$.validatedInput"
      },
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "ResultPath": "$.ingestionResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        },
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 5,
          "MaxAttempts": 1
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ingestionError",
          "Next": "HandleIngestionError"
        }
      ],
      "Next": "CheckIngestionResult"
    },

    "CheckIngestionResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ingestionResult.Payload.extracted_text",
          "IsPresent": true,
          "Next": "LogIngestionResult"
        },
        {
          "Variable": "$.ingestionResult.Payload.contract_id",
          "IsPresent": true,
          "Next": "LogIngestionResult"
        }
      ],
      "Default": "HandleIngestionError"
    },

    "LogIngestionResult": {
      "Type": "Pass",
      "Result": {
        "message": "Ingestion completed",
        "ingestionResponse.$": "$.ingestionResult.Payload"
      },
      "ResultPath": "$.log",
      "Next": "RunComplianceAndRiskAnalysis"
    },

    "HandleIngestionError": {
      "Type": "Pass",
      "Parameters": {
        "status": "INGESTION_FAILED",
        "detail.$": "$.ingestionError"
      },
      "ResultPath": "$.errorInfo",
      "Next": "FailWorkflow"
    },

    "RunComplianceAndRiskAnalysis": {
      "Type": "Parallel",
      "InputPath": "$.ingestionResult.Payload",
      "Branches": [
        {
          "StartAt": "InvokeCompliance",
          "States": {
            "InvokeCompliance": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${compliance_lambda_arn}",
                "Payload.$": "$"
              },
              "TimeoutSeconds": 300,
              "HeartbeatSeconds": 60,
              "ResultPath": "$.complianceResult",
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                },
                {
                  "ErrorEquals": ["States.ALL"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 1
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.complianceError",
                  "Next": "HandleComplianceError"
                }
              ],
              "Next": "CheckComplianceResult"
            },
            "CheckComplianceResult": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.complianceResult.Payload.model_output_raw",
                  "IsPresent": true,
                  "Next": "ComplianceDone"
                },
                {
                  "Variable": "$.complianceResult.Payload.findings",
                  "IsPresent": true,
                  "Next": "ComplianceDone"
                }
              ],
              "Default": "HandleComplianceError"
            },
            "HandleComplianceError": {
              "Type": "Fail",
              "Error": "COMPLIANCE_FAILED",
              "Cause": "Compliance task failed"
            },
            "ComplianceDone": {
              "Type": "Pass",
              "Parameters": {
                "status": "ok",
                "findings.$": "$.complianceResult.Payload"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "InvokeRiskAnalysis",
          "States": {
            "InvokeRiskAnalysis": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${risk_analysis_lambda_arn}",
                "Payload.$": "$"
              },
              "TimeoutSeconds": 300,
              "HeartbeatSeconds": 60,
              "ResultPath": "$.riskResult",
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                },
                {
                  "ErrorEquals": ["States.ALL"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 1
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.riskError",
                  "Next": "HandleRiskError"
                }
              ],
              "Next": "CheckRiskResult"
            },
            "CheckRiskResult": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.riskResult.Payload.findings",
                  "IsPresent": true,
                  "Next": "RiskDone"
                },
                {
                  "Variable": "$.riskResult.Payload.status",
                  "IsPresent": true,
                  "Next": "RiskDone"
                }
              ],
              "Default": "HandleRiskError"
            },
            "HandleRiskError": {
              "Type": "Fail",
              "Error": "RISK_ANALYSIS_FAILED",
              "Cause": "Risk analysis task failed"
            },
            "RiskDone": {
              "Type": "Pass",
              "Parameters": {
                "status": "ok",
                "findings.$": "$.riskResult.Payload"
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.parallelResults",
      "Next": "AssembleOutput"
    },

    "AssembleOutput": {
      "Type": "Pass",
      "Parameters": {
        "contract_id.$": "$.ingestionResult.Payload.contract_id",
        "s3.$": "$.ingestionResult.Payload.s3",
        "s3_uri.$": "$.ingestionResult.Payload.s3_uri",
        "compliance_findings.$": "$.parallelResults[0].findings",
        "risk_findings.$": "$.parallelResults[1].findings",
        "compliance_status.$": "$.parallelResults[0].status",
        "risk_status.$": "$.parallelResults[1].status"
      },
      "ResultPath": "$.finalOutput",
      "Next": "SuccessState"
    },

    "FailWorkflow": {
      "Type": "Fail",
      "Error": "WorkflowFailed",
      "Cause": "See $.errorInfo for details"
    },

    "SuccessState": {
      "Type": "Succeed",
      "OutputPath": "$.finalOutput"
    }
  }
}
